body{
    background-color: grey;
    color: white;
}
.nav_bar {
    display: flex;
    background-color: red;
    justify-content: center;
    align-items: center;
    height: 70px;
    position: static;
  }
  #logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    gap: 20px;
  }
  #logo img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  #logo p {
    font-size: 30px;
    color: grey;
  }
  #logo p span {
    color: white;
    font-size: 50px;
  }
  .nav_list {
    gap: 20px;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .nav_list a {
    font-size: 30px;
    align-items: center;
  
    padding: 10px;
    text-decoration: none;
  }
  
  .nav_list a:hover {
    color: white;
  }

  .below_nav{
    background-image: url(images/con2backgroud.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
    margin-bottom: 90px;
  }
  .below_nav div{
    display: grid;
    justify-content: center;
    align-items: center;   
    /* gap: -20px;  */
  }

  .below_nav div h2{
    color: white;
    font-size: 50px;
  }

  .below_nav div p{
    color: white;
    font-size: 40px;
  }
  .below_nav p a{
    text-decoration: none;
    color: red;
  }
  .promotion_image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .promotion_image p{
    font-size: 40px;
  }
  .promotion_image h1{
    font-size: 50px;
    background-color:red;
    border-radius: 15px;
  }
  .promotion_image  img{
    border-radius: 15px;
  }
